{% extends "home_base.html" %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock stylesheet %}
 
{% block topbar %}
    <h2 style="margin-bottom: 25px;">About. . . </h2>
{% endblock topbar %}



{% block main %}

    <h3>What is Progress Dream? </h3>
    <p style="font-size: larger;">
        Progress Dream is app written By Wiktor Bojanowski. 
        It is written in Django using Python3. 
        You can here add your project which you dreamed under shower at night.
    </p>

{% endblock main %}