{% extends "home_base.html" %}



{% block topbar %}
<h2 style="margin-bottom: 25px;">Create new project</h2>
{% endblock topbar %}



{% block main %}

<form method="post">
    {% csrf_token %}

    <div class="flex-container" style="padding: 15px;">

        {% if form.errors %}
        <div class="card bg-danger text-light"
            style="padding:10px; margin: 10px; border-radius: 5px; margin-bottom: 20px">
            {% for field, errors in form.errors.items %}
            <li><strong>{{ field }}:</strong> {{ errors|join:", " }}</li>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Loop through each form field -->
        {{ form.as_p }}



        <button class="btn btn-primary">Create!</button>

    </div>
</form>

{% endblock main %}




{% block scripts %}

<script>

    function add_class_to(field, add_class) {
        let elems = $(field);
        for (let i = 0; i < elems.length; i++) {
            const e = elems[i];
            e.classList.add(add_class);
        }
    }

    add_class_to("input[type='text']", "form-control");
    add_class_to("input[type='radio']", "form-check-input");
    add_class_to("select", "form-select");
    add_class_to("textarea", "form-control");

    $("#id_date_deadline").attr("type", "date");



</script>

{% endblock scripts %}