{% extends "home_base.html" %}

{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock stylesheet %}
 
{% block topbar %}
    <h2 style="margin-bottom: 25px;">PROJECT: {{ project.title }}</h2>
{% endblock topbar %}



{% block main %}
 
<span class="badge bg-primary"> <!--FOR TECHNOLOGIES-->
    <a class="badge-a" href="{{ project.tech_id.website_link }}">{{ project.tech_id.name }}</a>
</span>
<span class="badge bg-dark"> <!--FOR LANGUAGES-->
    <a class="badge-a" href="{{ project.lang_id.website_link }}">{{ project.lang_id.name }}</a>
</span>


   {{ project.description }}


{% endblock main %}