{% extends "panel_base.html" %}



{% block topbar %}
<form id="searchForm" class="col-md-10" method="get">
    <i class="bi bi-search search-icon"></i>
    <input type="text" id="searchTxt" name="search_input" placeholder="Search projects" />
</form>
<form class="col-md-2" method="post">
    {% csrf_token %}
    <button class="btn btn-success" type="submit">New Idea!</button>
</form>
{% endblock topbar %}



{% block main %}

<div class="row main-row">
    <h2 class="col-md-5"> 5 Results</h2>
</div>
<div class="row main-row overflow-auto justify-content-center overflow-y-scroll">
    <!-- CARDS -->
    {% for i in count %}

    <form class="btn-hidden" action="#test" method="get">
        <button type="submit" class="btn-hidden">
            <div class="card card-custom-result">
                {% load static %}
                <img src='{% static "tmp/tt.svg" %}' class="card-img-top" style="width: 18rem;" />
                <div class="card-body">
                    <div class="card-badge-container">
                        <!-- <span class="badge bg-success">Complete</span> -->
                        <!-- <span class="badge bg-warning">Working on</span> -->
                        <span class="badge bg-danger">Not started</span>
                        <span class="badge bg-primary"> <!--FOR TECHNOLOGIES-->
                            <a class="badge-a" href="#12">Django</a>
                        </span>
                        <span class="badge bg-dark"> <!--FOR LANGUAGES-->
                            <a class="badge-a" href="#321">Python</a>
                        </span>

                    </div>
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, a dictum viverra lectus, sit amet ullamcorper
                        lectus
                        facilisis feugiat. Donec pellentesque diam vel ex tempor,</p>
                </div>
            </div>
        </button>
    </form>


    {% endfor %}
</div>
{% endblock main %}




{% block scripts %}

<script>
    document.getElementById('searchTxt').addEventListener('keypress', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Prevent the default form submission
            document.getElementById('searchForm').submit(); // Submit the form
        }
    });
</script>

{% endblock scripts %}