{% extends "home_base.html" %}
{% block content %}

<div class="flex-container">
    <nav>
        <div>
            Username
        </div>
        <div>Dashboard</div>
        <div>Campaigns</div>
        <div>Lists</div>
        <div>Subscribers</div>
        <div>Settings</div>
    </nav>
    <main>
        <div class="search-bar">
            <input type="text" placeholder="Search Projects, lagnuages, Technologies"/>
            <button>Create</button>
        </div>
        <div class="result-box">
            <div class="result-bar">
                35 Projects
            </div>
            <div class="result-container">
                <!--ELEMENTS-->
                <div class="result-item"> Lorem ipsum dolor</div>

            </div>
        </div>
    </main>
</div>

{% endblock content %}